.section{
    width: 100%;
    height: fit-content;
    max-width: 1440px;
    min-height: 860px;
    margin-top: 0px;
}
.section-wrapper{
    width: 100%;
    height: fit-content;
    max-width: 945px;
    min-height: 352px;
    margin: auto;
    margin-top: 191px;
}
.section-wrapper-1{
    width: 100%;
    height: fit-content;
    max-width: 839px;
    min-height: 204px;
    margin: auto;
}
.section-wrapper-2{
    width: 100%;
    height: fit-content;
    max-width: 945px;
    min-height: 88px;
    margin-top: 60px;
}
.section-wrapper-1 p{
    font-size: 90px;
    font-weight: 300;
    line-height: 102px;
    text-align: center;
    color: rgba(247, 247, 247, 1);
}
.barrier{
    font-size: 90px;
    font-weight: 700;
    line-height: 102px;
    text-align: center;
    /* color: rgba(15, 15, 15, 1); */
    color: rgba(247, 247, 247, 1);
}
.section-wrapper-2 p{
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    color: rgba(247, 247, 247, 1);
}
 .go{
    background-color: transparent;
    max-width: 117.33px;
    min-height: 74.89px;
    width: 100%;
    height: fit-content;
    margin: auto;
    /* opacity: 0; */
    text-align: center;
    margin-top: 191px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(83, 140, 255, 1);
 }

/* @keyframes movement {
    from {
        opacity: 1;
        left: 17%;
        top: 480px;
    }
    to {
        opacity: 1;
        left: 17%;
        top: 130px;
    }
} */
/* @keyframes let-go {
    from{
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    to{
        width: 117.33px;
        height: 74.89px;
        opacity: 1;
    }
} */
@media (max-width: 1146px) {
    .section-wrapper{
        width: 100%;
        height: fit-content !important;
        max-width: 945px;
        min-height: 352px;
        
        margin: auto;
        animation: none;
        opacity: 1;
        position: relative;
       

    }
    .section{
        width: 100%;
        height: fit-content;
        max-width: 1440px;
        min-height: 860px;
        
        margin-top: 0px;
        padding-top: 0px;
       position: relative;
    }
    .go{
        max-width: 117.33px;
        min-height: 74.89px;
        width: 100%;
        height: fit-content;
        text-align: center;
       
        margin: auto;
        margin-top: 121px; 
    
        
    } 
}